/* Google Fonts에서 프리텐다드 서체 가져오기 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 전체 body 스타일링 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Pretendard';
    background-image: url('manggom_background.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* 스탑워치 컨테이너 스타일링 */
.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    position: relative; /* 부모 요소로 설정 */
    max-width: 600px;
    height: 80vh;
    display: flex;
    flex-direction: center; /* 가로 방향으로 요소 배치 */
    justify-content: center;
    align-items: top;
}

/* 스탑워치 위치 조정 */
.stopwatch {
    position: absolute; /* 절대 위치 설정 */
    top: 50%; /* 부모 요소(.container)의 세로 중앙에 위치 */
    left: 50%; /* 부모 요소(.container)의 가로 중앙에 위치 */
    transform: translate(-50%, -50%); /* 정확히 화면 중앙에 위치하도록 조정 */
    z-index: 0; /* 다른 요소보다 위로 올라가도록 z-index 설정 */
}

/* 스탑워치 시간 스타일링 */
#stopwatch {
    font-size: 30px;
    margin-bottom: 20px;
}

/* 버튼 스타일링 */
button {
    font-size: 18px ;
    padding: 10px 20px;
    margin: 5px;
    cursor: transparent;
    border: none;
    background-color: transparent;
}

/* 시작 버튼 위치 설정 */
#startStopBtn {
    order: 2; /* 시작 버튼을 두 번째로 배치 */
    margin-bottom: 800px;
    margin-left: 20px; /* 왼쪽으로 약간의 여백 설정 */
    font-family: 'Pretendard';
    font-size: 20px;
}

/* 리셋 버튼 위치 설정 */
#resetBtn {
    order: 3; /* 리셋 버튼을 세 번째로 배치 */
    margin-bottom: 800px;
    margin-left: -20px; /* 왼쪽으로 약간의 여백 설정 */
    font-family: 'Pretendard';
    font-size: 20px;
}

/* 미디어 쿼리를 사용하여 폰트 크기를 조정 */
@media (max-width: 600px)  {
.container {
    margin: 150px; /* 작은 화면에서는 마진을 더 작게 설정 */
}
   body {     
        margin-bottom: 10px; /* 마진을 줄임 */
        font-size: 10px/* 작은 화면에서 더 작은 폰트 크기 */
    }

/* 큰 화면에서 폰트 크기 조정 */
@media (min-width:3000px) {
    body {
        margin-bottom: 10px; /* 마진을 줄임 */
        font-size: 5px;
    }
}
}

/* 노션 페이지에서만 적용될 스타일 */
.notion-specific #stopwatch {
    font-size: 5px;
}

.notion-specific button {
    font-size: 5px;
}

